{% extends 'NetHubApp/layout.html' %}
{% load static %}


{% block title %}
    NETHUB | {{ page }}
{% endblock %}

{% block header %} <h3 class='header-title'> {{ page|title }}</h3>{% endblock %}

{% block body %}
    <div class="post-overlay {% if follow is not None or is_profile or custom_posts is not None %}hide-main-home{% endif %}" id="main-home-post-container">


        {% if user.is_authenticated %}

            <div class="new-post-container">
                <form action="{% url 'create_post' %}" method='post'>
                    {% csrf_token %}
                    <div contenteditable="true" placeholder="What's going on buddy?" class="textarea"></div>
                    <input type ='text' class='hidden-post' name='post_content' hidden>
                    <input type="submit" class='new-post-btn btn-inactive' value="Post" disabled>
                </form>
                
            </div>
        {% endif %}

        
        {% for post in posts %}
            <div class='post-container viewProfilerContainer' data-postId="{{post.id}}"> 
                <div class='post-image'>
                    <img data-author={{post.post_creator.username}} class='authorProfileImage' src="{{post.post_creator.profile_picture.url}} " alt="">
                </div>
                <div class='post-content'>
                    <div class='post-title'>
                        <span data-author={{post.post_creator.username}} class='post-username authorProfileName'>{{post.post_creator.username|title}}</span> <span class='post-timestamp'>{{post.time_format}}</span>
                    </div>
                    <div data-postId="{{post.id}}" class='post-message'>
                        {{post.post_content | safe}}
                    </div>
                    <div class='edit-info'>
                        
                        <i class="far fa-window-close"></i>
                        <i class="fas fa-save"></i>
                    </div>
                    {% if user.is_authenticated %}
                    <div class='post-info'>
                        <!-- <i class="fi fi-sr-heart"></i> -->
                        <div>

                            {% if request.user in post.liked_by.all %}
                                <i data-postPk = {{post.id}} class="fi fi-sr-heart like-icon"></i>
                            {% else %}
                                <i data-postPk = {{post.id}} class="fi fi-rr-heart like-icon"></i>
                            {% endif %}
                            

                            <span class='like-count'>
                            {% if post.post_likes > 0 %}
                                {{post.post_likes}}
                            {% endif %}
                            </span>
                        
                        </div>
                        <div>
                            <i data-postPk = {{post.id}} class="fi fi-rr-comment comment-icon"></i> 
                            <span class='comment-count'>
                                {% if post.post_comment.count > 0 %}
                                    {{post.post_comment.count}}
                                {% endif %}
                            </span> 
                        </div>
                        {% if user.id == post.post_creator.id %}<div><i data-postPk = {{post.id}} class="fi fi-rr-pencil"></i></div>{% endif %}
                        <div><i data-postPk = {{post.id}} class="fi bookmark-btn {% if post.id in user.get_bookmark %}fi-sr-bookmark{% else %}fi-rr-bookmark {% endif %}"></i> </div>
                        <!-- <i class="fi fi-sr-bookmark"></i> -->
                    </div>
                    {% endif %}
                </div>

            </div>
    
        {% empty %}

            
            <h1 class='empty-post'>No posts yet!!!</h1>
            <h4 class='empty-post'>Be the first to make a post</h4>

        {% endfor %}
    </div>
 
    <div class="post-overlay {% if custom_posts is None %}hide-alt-post {% endif %}" id= 'alternative-post-container'> 

        {% for post in custom_posts %}
            <div class='post-container viewProfilerContainer' data-postId="{{post.id}}">
                <div class='post-image'>
                    <img data-author={{post.post_creator.username}} class='authorProfileImage' src="{{post.post_creator.profile_picture.url}} " alt="">
                </div>
                <div class='post-content'>
                    <div class='post-title'>
                        <span  data-author={{post.post_creator.username}} class='post-username authorProfileName'>{{post.post_creator.username|title}}</span> <span class='post-timestamp'>{{post.time_format}}</span>
                    </div>
                    <div data-postId="{{post.id}}" class='post-message'>
                        {{post.post_content | safe}}
                    </div>
                    <div class='edit-info'>
                        
                        <i class="far fa-window-close"></i>
                        <i class="fas fa-save"></i>
                    </div>
                    <div class='post-info'>
                        <!-- <i class="fi fi-sr-heart"></i> -->
                        <div>
                            {% if request.user in post.liked_by.all %}
                                <i data-postPk = {{post.id}} class="fi fi-sr-heart like-icon"></i>
                            {% else %}
                                <i data-postPk = {{post.id}} class="fi fi-rr-heart like-icon"></i>
                            {% endif %}
                            

                            <span class='like-count'>
                            {% if post.post_likes > 0 %}
                                {{post.post_likes}}
                            {% endif %}
                            </span>
                            
                        </div>
                        <div>
                            <i data-postPk = {{post.id}} class="fi fi-rr-comment comment-icon"></i> 
                            <span class='comment-count'>
                                {% if post.post_comment.count > 0 %}
                                    {{post.post_comment.count}}
                                {% endif %}
                            </span>
                        </div>
                        {% if user.id == post.post_creator.id %}<div><i data-postPk = {{post.id}} class="fi fi-rr-pencil"></i></div>{% endif %}
                            <div>
                                <i data-postPk = {{post.id}} class="bookmark-btn fi {% if post.id in user.get_bookmark %}fi-sr-bookmark{% else %}fi-rr-bookmark {% endif %}"></i> 
                            </div>
                        <!-- <i class="fi fi-sr-bookmark"></i> -->
                    </div>
                </div>

            </div>
    
        {% empty %}

        
            {% if page == 'FOLLOWING POSTS' %}
                <h1 class='empty-post'>No user you are following <br> has made a post </h1>

            {% else %}
                <h1 class='empty-post'>No Bookmarks</h1>
            {% endif %}

        {% endfor %}

    </div>
    <div class='post-overlay' id='following-info-container'>
        <section class='follow-ind-con'>
            <div class='follow-ind'><span>Following</span></div>
            <div class='follow-ind'><span>Followers</span></div>
            <div class='follow-active-ind'></div>
        </section>
        <section class='actual-follow-con'>
        {% if page == 'FOLLOWERS' %}
            {% for eachfollow in follow %}
                <div>
                    <div class='follow-img'>
                        <img src ="{{eachfollow.user_follower.profile_picture.url}}">
                    </div>
                    <div class='follow-username'>
                        <span>{{eachfollow.user_follower.username|title}}<span>
                    </div>
                    {% if authFollow.user_follower != eachfollow.user_follower %}
                        <div class='follow-btn'> 
                            {% if  eachfollow.user_follower in authFollow.following.all %}
                                <button data-followFor='followPage' class= 'user-following-btn follow-info' >Following</button>
                            {% else %} 
                                <button data-followFor='followPage'class='follow-info user-not-following-btn'>Follow </button>
                            {% endif %}
                        </div>
                    {% endif %}
                </div>
            {% empty %}
                <h3 class='empty-post empty-followers'>No Followers Yet</h3>
            {% endfor %}
        {% else %}
            {% for eachfollow in follow %}
                <div>
                    <div class='follow-img'><img src ='{{eachfollow.profile_picture.url}}'></div>
                    <div class='follow-username'><span>{{eachfollow.username|title}}<span></div>
                    {% if authFollow.user_follower != eachfollow %}
                        <div class='follow-btn'>
                            {% if  eachfollow in authFollow.following.all %}
                                <button data-followFor='followPage' class= 'user-following-btn follow-info' >Following</button>
                            {% else %} 
                                <button data-followFor='followPage'class='follow-info user-not-following-btn'>Follow </button>
                            {% endif %}
                        </div>
                    {% endif %}
                </div>
            {% empty %}
                <h3 class='empty-post empty-following'> You are Following No one</h3>
            {% endfor %}
        
        {% endif %}
        </section>

    </div>


    
    <div class="post-overlay {% if not is_profile %}hide-profile{% endif %}" id='main-profile-section'>
        <section class='profile-main-info'>
            <div class='profile-pic-con'>
                <img src="{{profile_user.profile_picture.url}}" alt="">
            </div>
            <div class='profile-info-con'>
                <div>
                    <span class='profile-info-name' >{{profile_user.last_name}} {{profile_user.first_name}}</span>
                </div>
                <div>
                    <span class='profile-info-username' >{{ profile_user.username}}</span> 
                    {% if isAuthUser %}
                        <button id='profile-edit-btn'>Edit Profile</button> 
                    {% else %}
                        {% if follow_obj.user_follower in authFollow.following.all %}
                            <button data-followFor='profilePage' class= 'follow-info user-following-btn' >Following</button>    
                        {% else %} 
                            <button data-followFor='profilePage'class='follow-info user-not-following-btn'>Follow </button>
                        {% endif %}
                    {% endif %}
                </div>
                
            </div>
        </section>
        <section class='profile-more-info'>
            <div class='profile-info-about-header'><span>About Me</span><span></span></div>
            <div class='profile-info-about'><span>{% if profile_user.about %} {{profile_user.about}} {% else %} No Bio {% endif %}</span></div>
            
            <div class='profile-info-activity'>
                <div>
                    <span>{{users_posts.count}}</span>
                    <span>Posts</span>
                </div>
                <div  class= 'following-con'>
                    <span>{{num_following}}</span>
                    <span>Following</span>
                </div>
        
                <div class='followers-con'>
                    <span class='num_followers_count'>{{num_followers}}</span>
                    <span>Followers</span>
                </div>
            </div>

        </section>
        <section class='profile-info-posts'>
            <div class='profile-post-header'>
                <h1>My Posts</h1>
            </div>
            {% for post in users_posts %}
            <div class='post-container' data-postId="{{post.id}}">
                <div class='post-image'>
                    <img src="{{post.post_creator.profile_picture.url}} " alt="">
                </div>
                <div class='post-content'>
                    <div class='post-title'>
                        <span class='post-username'>{{post.post_creator.username|title}}</span> <span class='post-timestamp'>{{post.time_format}}</span>
                    </div>
                    <div data-postId="{{post.id}}" class='post-message'>
                        {{post.post_content | safe}}
                    </div>
                    <div class='edit-info'>
                        
                        <i class="far fa-window-close"></i>
                        <i class="fas fa-save"></i>
                    </div>
                    <div class='post-info'>
                        <!-- <i class="fi fi-sr-heart"></i> -->
                        <div>
                            {% if request.user in post.liked_by.all %}
                                <i data-postPk = {{post.id}} class="fi fi-sr-heart like-icon"></i>
                            {% else %}
                                <i data-postPk = {{post.id}} class="fi fi-rr-heart like-icon"></i>
                            {% endif %}
                            

                            <span class='like-count'>
                            {% if post.post_likes > 0 %}
                                {{post.post_likes}}
                            {% endif %}
                            </span>
                        </div>
                        <div>
                            <i data-postPk = {{post.id}} class="fi fi-rr-comment comment-icon"></i> 
                            <span class='comment-count'>
                                {% if post.post_comment.count > 0 %}
                                    {{post.post_comment.count}}
                                {% endif %}
                            </span>
                        </div>
                        {% if user.id == post.post_creator.id %}<div><i data-postPk = {{post.id}} class="fi fi-rr-pencil"></i></div>{% endif %}
                        <div><i data-postPk = {{post.id}} class="bookmark-btn fi {% if post.id in user.get_bookmark %}fi-sr-bookmark{% else %}fi-rr-bookmark {% endif %}"></i> </div>
                        <!-- <i class="fi fi-sr-bookmark"></i> -->
                    </div>
                </div>

            </div>
            {% empty %}
            <h3 class='empty-post empty-profile'>You haven't made any post yet</h3>
            {% endfor %}
        </section>
    </div>

    {% if discussion is not None %}
        <span id='discussionSpan' data-discussionUser="{{ discussion.user}}" data-discussionId = "{{ discussion.post}}" style='display:none'></span>
    {% endif %}
    <section class="discussion-wrapper post-overlay">
            <div class="discussion-header-container">
                <i title='back'>

                    <svg viewBox="0 0 24 24" aria-hidden="true" class="r-4qtqp9 r-yyyyoo r-z80fyv r-dnmrzs r-bnwqim r-1plcrui r-lrvibr r-19wmn03" style="color: whitesmoke;" ><g><path d="M20 11H7.414l4.293-4.293c.39-.39.39-1.023 0-1.414s-1.023-.39-1.414 0l-6 6c-.39.39-.39 1.023 0 1.414l6 6c.195.195.45.293.707.293s.512-.098.707-.293c.39-.39.39-1.023 0-1.414L7.414 13H20c.553 0 1-.447 1-1s-.447-1-1-1z"></path></g></svg>
                </i>
                <h1>Discussion</h1>
            </div>
            <div class="discussion-body-container">
                <div class="discussion-post-info">
                    <div class="discussion-post-info-profPic">
                        <img src="logo.jpg" alt="" />
                    </div>
                    <div class="discussion-post-info-username">
                        <span id='discussion-post-username'> </span>
                    </div>
                </div>
                <div class="discussion-post-message">
                  
                </div>
                <div class='edit-info'>
                        
                        <i class="far fa-window-close"></i>
                        <i class="fas fa-save"></i>
                    </div>
                <div class="discussion-post-timestamp">
                   
                </div>
                <div class="discussion-post-interactions">
                    
                </div>
                <div class="discussion-post-interaction-btn">
                    
                </div>
            </div>
            <div class="discussion-reply-container">
                <div class="discussion-reply-subcontainer">
                    <div class="reply-info">Replying to <em>Username</em></div>
                    <div class="reply-container">
                        <div class="reply-user-image">
                            <img src="logo.jpg" alt="" />
                        </div>
                        <div class="reply-editable-container">
                            <div class="reply-editable">
                                <div
                                    placeholder="Write Your Reply"
                                    contenteditable="true"
                                ></div>
                                <input id='reply-editable-input' type='text' hidden>
                            </div>
                            <div class="reply-accessories">
                                <button disabled>Reply</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
             <div class="comment-posted-container">

             </div>

        </section>

{% endblock %}